/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
 */
/* td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
} */

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

td {
  padding-bottom: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  text-align: start;
  margin: 1em 2em -1rem 2.5rem;
}

input {
  text-align: center;
}
